/*RESET - removes spaces*/
*{
    margin: 0;
    padding: 0;
}

/* BODY */
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* BACKGROUND WALLPAPER */
.bg {
    height: 200%;
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    background
}

  /* LINKS */
 

/* HEADER */
header {
    width: 100%;
    background-image: linear-gradient(to right, #91add9 , #eaf081);
    border: 1px solid #000;
    border-radius: 1.5%;    
}
#logo {
    float: left;
    padding-left: 5%;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
    position: relative;
}
.nav-pills {
    flex-direction: row;
    flex-wrap: nowrap;
    margin-right: 50px;
    margin-top: 7px;
}
.nav-item {
    margin: 0.5%;
}

/* JUMBOTRON */
.jumbotron {
    border: 1px solid #000;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: 'Roboto', sans-serif;
}

/* ROWS & COLUMNS */
.wrapper {
    margin-right: 17px;
    margin-left: 15px;
    border: 1px solid #000;
    border-radius: 5%;
    display: flex;
}
.row {
    background: #fff;
    display: flex;
    font-family: 'Roboto', sans-serif;
    border: 2px solid #000;
}
.profilepic {
    width: 50%;
    margin: 5%;
    border: 1px solid #000;
    border-radius: 50%;
    margin-left: 70px;
}
.sec1 {
    background-color: #000;
    border-bottom: 1px solid #000;
}
.sk {
    color: #fff;
    margin-left: 40px;
}
.col-md-4 {
    text-align: center;
    
}
h2 {
    text-decoration: underline;
}

/* FOOTER */
footer {
    display: flex;
    background: #3e4247;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.copyright {
    padding-left: 50px;
}

/* PORTFOLIO */
.album {
    background-image: linear-gradient(to right, #91add9 , #eaf081);
}
.card-img-top {
    height: 250px;
}

/* CONTACT FORM */
.contact{
    padding: 4%;
    height: 400px;
}
.col-md-3{
    background-image: linear-gradient(to right, #91add9 , #eaf081);
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.contact-info{
    margin-top:10%;
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
}
.contact-form button{
    background: #25274d;
    color: #fff;
    font-weight: 600;
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}